body {
    background-color: grey;
    padding: 0 10%;
}

img {
    margin: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#options {
    display: flex;
    align-items: center;
} 

#comp-options, #player-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.icon, .comp-icon {
    width: 25%;
    height: auto;
    border: 10px solid black; 
    border-radius: 10px;
    flex-shrink: 0;
    transition: all .1s;
}

.icon:hover{
    border-color: blue;  
     
}

.icon:active{
    border-style: inset;
}

.comp-select{
    border-color: red;
}